@model IEnumerable<MVC_Blog_Website.Models.Uye>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@*admin panel*@
<div class="container-fluid" style="font-family:'Century Gothic';">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Overview</li>
    </ol>
    <!-- Icon Cards-->
   
       
    
    <!-- DataTables Example -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Üye Bilgi Tablosu
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" style="width:100%;" cellspacing="0">
                    <thead>
                        <tr>
                            <th>UyeId</th>
                            <th>KullanıcıAdı</th>
                            <th>E-mail</th>
                            <th>Ad Soyad</th>
                            <th>Foto</th>
                            <th>Yetki Id</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>UyeId</th>
                            <th>KullanıcıAdı</th>
                            <th>E-mail</th>
                            <th>Ad Soyad</th>
                            <th>Foto</th>
                            <th>Yetki Id</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.UyeId</td>
                                <td>@item.KullaniciAdi</td>
                                <td>@item.Email</td>
                                <td>@item.AdSoyad</td>
                                <td><img src="@item.Foto" width="75" /></td>
                                <td>@item.YetkiId</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-footer small text-muted"></div>
    </div>
</div>

